<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <form method="post" action="{{ url_for('add_memory') }}" enctype="multipart/form-data">
        <label>Title:</label>
        <input type="text" name="title" required><br>
        <label>Description:</label>
        <textarea name="description" required></textarea><br>
        <label>Chosse Image:</label>
        <input type="file" name="image_memory"><br>
        <input type="submit" value="Add Memory">
    </form>
    <h2>Your Memories</h2>
    <ul>
        {% for memory in memories %}
            <li>
                <h3>{{ memory.title }}</h3>
                <h4>{{ memory.date }}</h4>
                <p>{{ memory.description }}</p>
                {% if memory.image_memory %}
                    <img src="{{ memory.image_memory }}" alt="Memory Image"><br>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
